div {
    width: 1000px;
    height: 1000px;
    /* background-color: cyan; */
    /* animation-name: animate1; */
    animation-name: animate2;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: 10;
    position: absolute;
    
}

h1{
    color: red;
}

@keyframes animate2{
    /* can also do with translate */
     0%{left: 0%;}
     50%{left: 100%;}
     100%{left:-100%}
}