.button{
    cursor: pointer;
    text-decoration: none;
    height: 20px;
    width: 80px;
    margin: 20px;
    padding:20px;
    text-align: center;
    color: blue;
    background-color: yellow;
    display: inline-block;
}
.button:hover{
    color: green;
}